.container-fluid
  .row.page-header
    .col-sm-6
      %h4.pull-left
        %span.glyphicon.glyphicon-tag
        Products
    .col-sm-6
      

  .row
    .panel.panel-default
      .panel-heading
        %h5 Magento Products by Store
      .panel-body
        %ul.nav.nav-tabs{:role => "tablist"}
          %li.active{:role => "presentation"}
            %a{"aria-controls" => "home", "data-toggle" => "tab", :href => "#home", :role => "tab"}  UK
          %li{:role => "presentation"}
            %a{"aria-controls" => "profile", "data-toggle" => "tab", :href => "#profile", :role => "tab"} USA
          %li{:role => "presentation"}
            %a{"aria-controls" => "messages", "data-toggle" => "tab", :href => "#messages", :role => "tab"} JAPAN
          %li{:role => "presentation"}
            %a{"aria-controls" => "settings", "data-toggle" => "tab", :href => "#settings", :role => "tab"} HONG KONG

        .pull-left= paginate @products 
        %input#product-list-filter.form-control.pull-right{placeholder: "Filter Products", style:"max-width: 300px"} 
        %table.table.table-striped
          %thead
            %th
              \#
            %th
              Product name
            %th
              SKU
            %th.text-center
              Gemgento ID 
            %th.text-center
              Type     
            %th.text-center
              Magento Id  
            %th.text-center
              Visibility
          %tbody.product-list
            - @products.each do |p|
              %tr{ class: ("inactive" if p.visibility == 4)}
                %td
                  %a{ href: "/skynet/product/#{p.id}"}
                    %img{ src: "https://www.jeffreyrudes.com//system/gemgento/asset_files/files/000/000/463/thumb/352JJR2FWO14_010_2015_05_11_JEFFREYRUDES_ECOMMERCE_JACKET_11_1_010.jpg" , width: "40"}
                %td
                  %a{ href: "/skynet/product/#{p.id}"}
                    = truncate(p.name, :length => 50)
                %td
                  = p.sku
                %td.text-center
                  = p.id  
                %td.text-center
                  = p.magento_id 
                %td.text-center
                  = p.magento_type                   
                %td.text-center
                  - if p.visibility == 1
                    %span.glyphicon.glyphicon-eye-open
                  - if p.visibility == 4
                    %span.glyphicon.glyphicon-eye-close
.pull-right= paginate @products                
