%tr.text-left
  %td
    .div.text-center
      %h6.heading-light.thank-you Your order is on it's way
    %p.order-confirmation-text
      Thank you for shopping at jeffreyrudes.com. This email is to inform you that your order has been shipped. You can click the tracking number link below to track your package on the carrier's website. Tracking information is generally available within 24 hours aftaer a package is shipped, but may take up to 48 hours for shipments going to certain regions of the United States or Canada.

    

    %p.order-confirmation-text
      If you have any questions about your order, please contact customerservice@jeffreyrudes.com or by phone at +1 310-281-0800, Monday through Friday from 9:00am to 5:00pm PST.

      
%tr
  %td.text-left
    %p.order-number.bold ORDER #{@order.increment_id} (placed on  #{@order.placed_at.strftime '%-m/%d/%Y'})
    %p.purchase-items.bold PURCHASED ITEMS

  - @order.line_items.each do |o|
    - p = o.product
    - c = o.product.configurable_products.first     
    %tr.text-left.item
      %td
        .line-item-row  
          .left
            = image_tag (p.configurable_products.any? ? p.configurable_products.first.assets.first.image.url(:thumb) : p.assets.first.image.url(:thumb)), class: 'img-responsive'
          .right
            %p.heading.bold.produt-name #{o.name}
            %p QTY #{o.qty_ordered.to_i}
            - unless p.attribute_value('size').nil?
              %p SIZE #{p.attribute_value('size')}
            %p TOTAL #{number_to_currency(o.price, strip_insignificant_zeros: true)}
          .clear
%tr
  %td
    .divider-no-height
    
%tr
  %td.text-left
    .line-item-row.address  
      .left
        .title.heading.heading-small Billing information
        %p #{@order.billing_address.first_name}
        %p #{@order.billing_address.last_name} 
        %p #{ @order.billing_address.street}
        %p #{@order.billing_address.city}
        %p #{@order.billing_address.region.name}, #{@order.billing_address.postcode}
      .right
        .title.heading.heading-small Shipping information
        %p #{@order.shipping_address.first_name}
        %p #{@order.shipping_address.last_name} 
        %p #{@order.shipping_address.street}
        %p #{@order.shipping_address.city}
        %p #{@order.shipping_address.region.name}, #{@order.shipping_address.postcode}
        %p #{@order.shipping_description}
        %p #{@tracks.first["title"]}
        %p Tracking Number : #{@tracks.first["track_number"]}
%tr
  %td.text-left
    .title.heading.heading-small Payment method
    %p= @order.payment.cc_owner
    %p= "********#{@order.payment.cc_last4}"  
    %p= "EXP: #{@order.payment.cc_exp_month}/#{@order.payment.cc_exp_year}"

%tr
  %td
    .divider

%tr
  %td.text-right.footer-totals
    .div
      %p subtotal #{number_to_currency @order.subtotal}
      %p shipping #{number_to_currency @order.shipping_amount}
      %p tax #{number_to_currency @order.tax_amount}
      %p total #{number_to_currency @order.grand_total}


%tr
  %td
    .divider    