.container.user-account-container
  / = render partial: "gemgento/user/account_header"
  / = render partial: 'shared/flash_messages'
  / = render partial: 'shared/error_messages', locals: { model: @existing_user }
  / = render partial: 'shared/error_messages', locals: { model: @new_user }

  .checkout-row.col-md-8.col-md-offset-2
    .col-md-5
      %h4.gold-text SIGN IN TO YOUR ACCOUNT
      = form_for(@existing_user, url: user_login_path, html: { method: :post }) do |f|
        .checkout-column.col-md-12
          = hidden_field_tag :activity, 'sign_in'
          = f.label :name, 'email address'
          = f.text_field 'email'
          = f.label :password, 'password'
          = f.password_field 'password'
          .action-link
            = link_to 'forgot my password', new_user_password_path
          = f.submit 'sign in', class: 'submit'
    .col-md-5.col-md-offset-2
      %h4.gold-text CREATE AN ACCOUNT
      = form_for(@new_user, url: user_login_path, html: { method: :post })  do |f|
        .checkout-column.col-md-12
          = hidden_field_tag :activity, 'register'
          = f.label :first_name, 'first name'
          = f.text_field 'first_name'
          = f.label :last_name, 'last name'
          = f.text_field 'last_name'
          = f.label :email, 'email'
          = f.text_field 'email'
          .checkbox-wrapper.col-md-12.create-an-account-subscribe
            .checkbox
              = check_box_tag :subscribe, true, params[:subscribe], checked: true
              = label_tag :subscribe, '', class: "checkbox-x", style: "display: block;"
            = label_tag :subscribe, "subscribe to centro39 newsletter"
          = f.label :password, 'password'
          = f.password_field 'password'
          = f.label :password, 'confirm password'
          = f.password_field 'password_confirmation'
          = f.submit 'create an account', class: 'submit'

= render 'shared/footer'