- if @related_products != nil && @related_products.any?
  .related-products.col-md-12
    .page-header
      %h2 Designed With
    - @related_products.each do |pid|
      %figure.related-item.col-xs-6.col-sm-4
        - product = Gemgento::Product.find(pid)
        = link_to product do
          = product_image_tag product, "image", "medium", :class => "img-responsive"
          .product-meta
            .product-detail
              .table
                .table-cell
                  %h3=product.name
                  %span.product-price
                    - if product.on_sale?
                      %span.original-price
                        %s= number_to_currency(product.original_price, precision: 0)
                      %span.current-price= number_to_currency(product.price, precision: 0)
                    - else
                      %span.current-price= number_to_currency(product.price, precision: 0)