!!!
%html{lang: 'en'}
  %head
    = stylesheet_link_tag 'mailer', media: 'all'

  %body#mailer
    %table#bodyTable
      %tr
        %td.spacer
      %tr.shot
        %td.logo{:align => 'center', :valign => 'top'}
          = link_to main_app.root_url do
            = image_tag 'http://www.jeffreyrudes.com/email/logo.jpg'

      %tr
        %td{:align => 'center', :valign => 'top'}
          %table#emailContainer{:border => '0', :cellpadding => '20', :cellspacing => '0', :width => '600'}

            %tr
              %td{style:"text-align:center; margin-bottom: 30px;"}
                %img{src: main_app.root_url+'/email/reset-password.jpg', width: "292", style: "display: block; margin: 0 auto 30px auto"}

            %tr
              %td{style:"text-align: left; padding: 0 0 30px 0"}
                %p Dear #{@resource.first_name} #{@resource.last_name},
                %a{href: 'mailto:' + @resource.email}
            %tr
              %td{style:"text-align: left; padding: 0 0 30px 0"}
                %p We have recieved a request to reset the password for this account.
            %tr
              %td{style:"text-align: left; padding: 0 0 30px 0"}
                %p To change the password, please click on the link below
                %p
                  %a{href: edit_password_url(@resource, reset_password_token: @token)}
                    = edit_password_url(@resource, reset_password_token: @token)
            %tr
              %td{style:"text-align: left; padding: 0 0 30px 0"}
                %p You'll be brought to a screen where you'll be asked  to enter and confirm the password. If you did not make this request, you can ignore this message and your password will remain the same.
            %tr
              %td{style:"text-align: left; padding: 0 0 30px 0"}
                %p Sincerely,
                %p Jeffrey Rüdes

        %tr.social-footer
          %td.text-center{style:"text-align: center; padding: 0 0 30px 0"}
            %a.twitter-link{href:"http://www.instagram.com/jeffreyrudes", class: "instagram-link"}Instagram
            %a{href:"http://www.instagram.com/jeffreyrudes"}Twitter
        %tr
          %td.email-footer{:align => 'center', :valign => 'top'}
            %a{href: main_app.root_url+'subscribe'}SUBSCRIBE
            %a{href: main_app.root_url+'about'}ABOUT
            %a{href: main_app.root_url+'customer-service' }CUSTOMER SERVICE
            %a{href: main_app.root_url+'terms-of-use'}TERMS OF USE
            %a{href: main_app.root_url+'gift-card'}GIFT CARD
        %tr
          %td{:align => 'center', :valign => 'top'}
            %span{style: 'text-decoration: none; margin: 0 5px; font-size: 10px;'}© copyright JEFFREY RÜDES #{Date.today.year}
            %a{href: 'http://mauinewyork.com', style: 'text-decoration: none; margin: 0 5px; font-size: 10px;'}SITE CREDIT
        %tr
          %td.spacer
